main{
    width: 100%;
    color: white;
}

.div-1{
    background-color: blue;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.div-2{
    background-color: black;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.div-3{
    background-color: red;
    width: 200px;
    height: 200px;
}