body {
    display: flex;
    flex-direction: column;
}

.titulo-header{
    background-color: purple;
    display: flex;
    justify-content: center;
    color: white;
}

.header-d {
    background-color: mediumorchid;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    min-height: 600px;
    background-color: white;
}


.div-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

.titulo-main{
    color: mediumvioletred;
    border-bottom: 2px solid mediumvioletred;
    display: inline-block;
    padding-bottom: 15px;    
}


p{
    width: 90%;
    font-weight: bold;
}

.teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: mediumvioletred;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
}

.equipe{
    color: mediumvioletred;
    border-bottom: 2px solid mediumvioletred;
    padding-bottom: 5px; 
    margin-bottom: 2%; 
}

.div-equipe{
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.circulo{
        background: purple;
        border-radius: 50%;
        width: 100px;
        height: 100px; 
        margin-bottom: 10%;   
        margin-top: 5%;
}

.footer{
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

hr{
    margin-top: 2%;
    display: flex;
}

.section-footer{
    align-content: flex-end;
    margin-top: 5%;
}